<ion-header class="title-header">
  <ion-toolbar>
    <ion-title>
      Meu Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="profile-card">
    <ion-card-header>
      <div class="profile-header">
        <img src="assets/foto.jpg" alt="Minha Foto" class="profile-img" />
        <ion-card-title class="profile-name">Eric dos Santos Diniz</ion-card-title>
      </div>
    </ion-card-header>
    <ion-card-content class="profile-content">
      Código de Turma: ADS0301M
    </ion-card-content>
  </ion-card>
</ion-content>
